<!--File: view.html-->
<!--Name: Jocelyn Dupuis-->
<!--Date: 03/27/2026-->
<!--Description: view file for BookClub application-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
</head>
<body>

<h1 th:text="${book.title}"></h1>

<p><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></p>
<p><strong>Description:</strong> <span th:text="${book.description}"></span></p>
<p><strong>Pages:</strong> <span th:text="${book.numOfPages}"></span></p>

<p>
    <a th:href="${book.infoUrl}" target="_blank">More Info</a>
</p>

<a href="/">Back to Home</a>

</body>
</html>
