<!-- Header fragment containing a Bootstrap navbar -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">

            <!-- Brand / Home link -->
            <a class="navbar-brand" href="/">BookClub</a>

            <!-- Mobile menu toggle button -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation links -->
            <div class="collapse navbar-collapse" id="navbarNav">

                <!-- LEFT SECTION -->
                <div class="d-flex flex-grow-1">
                    <ul class="navbar-nav">
                        <!-- ABOUT US SECTION -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">About Us</a>
                        </li>
                        <!-- CONTACT US SECTION -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Contact Us</a>
                        </li>
                        <!-- WISHLIST SECTION -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/wishlist}">Wishlist</a>
                        </li>
                    </ul>
                </div>

                <!-- CENTER SECTION -->
                <div class="d-flex flex-grow-1 justify-content-center">
                    <div sec:authorize="isAuthenticated()" class="navbar-text text-white">
                        Logged in as <strong sec:authentication="name"></strong>
                    </div>
                </div>

                <!-- RIGHT SECTION -->
                <div class="d-flex flex-grow-1 justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/logout" th:href="@{/logout}" class="nav-link">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a href="/swagger-ui.html" class="nav-link" target="_blank">OpenAPI Specification</a>
                        </li>

                    </ul>
                </div>

            </div>


        </div>
    </nav>
</header>
